@media screen and (min-width:934px) {
    .hidden-on-mobile {
        display: none;
    }




    .nav-links li {
        list-style: none;
        float: left;
        text-align: right;
        display: inline-block;
        margin: 40px 5px;
        position: relative;
       left: 900px;
    }

    .header-img {
        clear: both;
        height: 385px;
        width: 890px;
    }

    h1 {
        float: left;
    }

    .main .sub-section{
        float: left;
        column-width:
    }
}