@media screen and (min-width:934px) {
    .hidden-on-mobile {
        display: none;
    }

    body {
        margin: 20px;
    }

    .nav-links li {
        list-style: none;
        float: left;
        text-align: right;
        display: inline-block;
        margin: 40px 5px;
        position: relative;
        left: 550px;
    }

    .header-img {
        clear: both;
        height: 385px;
        width: 890px;
        margin-bottom: 20px;
    }

    h1 {
        float: left;
    }

    .main {
        width: 66%;
        float: left;
    }

    .sub-section {
        width: 33%;
        float: right;
    }

    footer p {
        position: relative;
        bottom: -420px;

    }

    #social-media-links {
        height: 32px;
        width: 90px;
        background-image: url("http://via.placeholder.com/30x30");
        position: relative;
        top: 384px;
        left: 815px;
    }
}

@media screen and (min-width: 365px) {
    h1 {
        margin-bottom: 0px;
        text-align: center;
    }

    body {
        margin: 10px;
    }

    img {
        height: 224px;
        width: 339px;
        display: block;
        margin: 0 auto;
    }

    .nav-links li {
        text-align: center;
        list-style: none;
        border: 1px solid lightgray;
        height: 40px;
        width: 300px;
        margin: 15px 0;
        background-color: darkgray;

    }

    ul {
        padding: 0px 20px;
    }


}